@import url('https://fonts.googleapis.com/css?family=K2D');

html {
    background: repeating-linear-gradient(135deg,
        #2e2e2e,
        #2e2e2e 5em,
        #3f3f3f 5em,
        #3f3f3f 10em);
    background-size: 14.142135623730951em 14.142135623730951em;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header {
    margin-top: 3em;
    flex-grow: 100;
    flex-basis: 90%;
    font-family: 'K2D';
}

header *, footer {
    width: 65%;
    margin: auto;
    margin-bottom: 1em;
    padding: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: white;
    border-radius: 1em;
}

footer {
    margin-top: 1em;
    padding: 0.1em;
}

h1 {
    color: #cc0033;
    /*text-decoration: underline;*/
    font-weight: bold;
}

section {
    max-width: 760px;
    font-family: 'K2D', sans-serif;
    background-color: white;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
}

.emoji {
    font-size: 5em;
}

.temp {
    margin: 0;
    font-size: 5em;
}
/* styles for git link */
.git-corner>svg {
    transition-property: all;
    fill: #4f4f4f;
    color: #2e2e2e;
    position: absolute;
    top: 0;
    border: 0;
    left: 0;

}

.git-corner>svg:hover {
    fill: #999;
}

ul {
    text-align: left;
}